.container-card {
    background-color: #223142;
    height: 440px;
    margin: 8px;
    padding: 8px;
    min-width: 315px;
    width: auto;
    border-radius: 6px;
}

.t-title {
    color: #6eccaf;
    font-size: 32px;
}

.b-card {
    background-color: #6eccaf;
    color: #344d67;
}