.btnInicio{
    width: 113px;
    padding: 15px;
    margin-top: 30px;
    margin-right: 10px;
    background-color: #344d67;
    color: #6eccaf;
    border-radius: 6px;
    text-decoration: none;
    border: none;

    &:hover{
        background-color: #6eccaf;
        color: #344d6f;
    }
}